
<IfModule mod_headers.c>
	SetEnvIf Origin "^(https?://.+)$" AccessControlAllowOrigin=$1
	Header add Access-Control-Allow-Credentials "true"
	Header add Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
	Header add Access-Control-Allow-Methods "POST, GET, OPTIONS"
</IfModule>
